body {
  font-size: 50%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 11vh;
  --sidenav-color: darkslategray;
  --sidenav-action-color: #fdcdcd;
  --header-font-size: 1.5rem;

  position: fixed;
  top: var(--header-height);
}

body * {
  outline-color: var(--sidenav-action-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.react-icons {
  vertical-align: middle;
}
